# 依赖目录
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# 日志文件
logs/
*.log

# 环境变量文件
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 操作系统文件
.DS_Store
Thumbs.db

# IDE 和编辑器文件
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# 临时文件
tmp/
temp/

# 构建输出
dist/
build/

# 嵌入式仓库
art-design-pro/ 